<h1 class="mt-5 jumbotron"> Edit Page</h1>

<%# A partial referring to _form.html.erb in the same folder, remember partials must have an underscore before their file names for them to be recognized as partials by rails! %>
<%= render  "form" %>
